.nav {
    list-style: none;
    
    padding-left: 0;

    width: 50%;

    margin: auto;

    text-align: center;

    color: rgb(255, 255, 255);
}
.navh {
    list-style: none;
    
    padding-left: 0;

    width: 50%;

    margin: auto;

    text-align: center;

    color: rgb(255, 255, 255);
}

.nav>li {
    border-style: ridge;
    
    border-radius: 10px;

    display: inline-block;

    background-color: darkslateblue;
}

a {
    color: white;
}

body {
    background-color: grey;
}

h1.home {
    text-align: center;

    color: white;

    border-style: ridge;

    border-radius: 10px;

    font-family: cursive;

    background-color: slateblue;
}

h1.p1 {
    text-align: center;

    color: white;

    border-width: 10px;

    border-style: ridge;

    border-radius: 10px;

    background-color: mediumpurple;
}

h1.p2 {
    text-align: center;

    color: white;

    border-style:double;

    border-width: 5px;

    border-radius: 10px;

    background-color:midnightblue;
}

h1.p3 {
    text-align: center;

    color: white;

    border-style: ridge;

    border-radius: 10px;

    background-color:orange;
}

img {
    width: 60%;

    height: auto;

    max-height: auto;

}

p.m {
    font-size: 20px;

    letter-spacing: 1mm;

}

img.m {
    width: 40%;

    height: auto;

    max-height: auto;
}

img.v {
    width: 30%;
    
    height: auto;

    max-height: auto;
}

img.un {
    width: 40%;

    height: auto;
    
    max-height: auto;
}

